Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/FirstPerson/Audio/
Content/FirstPerson/Character/Materials/
Content/FirstPerson/Character/Mesh/
Content/FirstPerson/Character/Textures/
Content/FirstPerson/FPWeapon/Materials/
Content/FirstPerson/FPWeapon/Mesh/
Content/FirstPerson/FPWeapon/Textures/
Content/FirstPerson/Meshes/
Content/FirstPerson/Textures/
Content/Geometry/
Content/StarterContent/
Content/FirstPersonCPP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonCPP/Maps/FirstPersonExampleMap_BuiltData.uasset
Content/Static/
